<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeInspire</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
      <div class="menu">
          <nav>
              <h2>Home<span style="color: rgb(32, 101, 140); font-size: 30px;">Inspire</span></h2>
              <input type="checkbox" id="mobileNav">
            <label for="mobileNav" class="mobileNavBtn">
              <i class="fas fa-bars"></i>
            </label>
              <ul>
                  <li><a href="#">Home Decor</a></li>
                  <li><a href="#">Kitchen</a></li>                
                  <li><a href="#">Bedroom</a></li>                
                  <li><a href="#">Art</a></li>                
                  <li><a href="#">Accessories</a></li>
              </ul>
          </nav>
      </div>
      <br><br><br><br>
  </header>
  <div class="inspireBox">
      <div class="inspire">
          <p>The appearnce of an item is what makes it home decor. You might want a classy space with few decorations, a side stool, and the plants around. A crowded space can also be beautiful when arranged in the best form it needs to catch the eye.</p>
          <p>Woodwork can also be beautiful in the house. From the walls to furniture, there's a warm feel it sprends out. There miht be a room with the look of a storage space, but the decorations gives off a living space.</p>
      </div>
      <div class="inspire">
          <button class="shop"> Shop Now</button><br>
          <div class="inspireIcons">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          </div>
      </div>
  </div>
  <div class="homeDecorBox">
      <div class="homeDecor">
          <!-- <p>You might want a classy space with few decorations, a side stool, and the plants around.</p> -->
          <img src="{{ url_for('static', filename='img/home deco.jpeg') }}" width="900px" height="700px"></div>
      <div class="homeDecor">
          <img src="{{ url_for('static', filename='img/home deco2.jpeg') }}" width="900px" height="700px">
          <!-- <p>A crowded space can also be beautiful when arranged in the best form it needs to catch the eye.</p> -->
      </div>
      <div class="homeDecor">
          <!-- <p>Woodwork can also be beautiful in the house. From the walls to furniture, there's a warm feel it sprends out.</p> -->
          <img src="{{ url_for('static', filename='img/home deco3.jpeg') }}" width="900px" height="700px"></div>
      <div class="homeDecor">
          <img src="{{ url_for('static', filename='img/home deco4.jpeg') }}" width="900px" height="700px">
          <!-- <p>It looks like a storage space with the amount of items here, but the decorations gives off a living space. Nice to behold.</p> -->
      </div>
  </div>
</body>
</html>